@charset "utf-8";
@import url("font.css");
@import url("reset.css");

[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}


input {
	border: none;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	line-height: inherit;
	-webkit-appearance: none;
}

/* ---------- LOGIN ---------- */

#login {
	margin: 50px auto;
	width: 400px;
}

#login h2 {
	background-color: #315D7C;
	-webkit-border-radius: 20px 20px 0 0;
	-moz-border-radius: 20px 20px 0 0;
	border-radius: 20px 20px 0 0;
	color: #fff;
	font-size: 28px;
	padding: 20px 26px;
}

#login h2 span[class*="fontawesome-"] {
	margin-right: 14px;
}

#login fieldset {
	background-color: #FFFFFF;
	-webkit-border-radius: 0 0 20px 20px;
	-moz-border-radius: 0 0 20px 20px;
	border-radius: 0 0 20px 20px;
	padding: 20px 26px;
}

#login fieldset p {
	color: #777;
	margin-bottom: 14px;
}

#login fieldset p:last-child {
	margin-bottom: 0;
}

#login fieldset input {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

#login fieldset input[type="email"], #login fieldset input[type="password"] {
	background-color: #eee;
	color: #777;
	padding: 4px 10px;
	width: 328px;
}

#login fieldset input[type="submit"] {
	background-color: #315D7C;
	color: #fff;
	display: block;
	margin: 0 auto;
	padding: 10px 0;
	width: 100px;
}

#login fieldset input[type="submit"]:hover {
	background-color: #315D7C;
}

#imglogo {
  width: 130px;
  height: 50px;
  margin-top: 5px;
  margin-left: 5px;
}

body, html {
    height: 100%;
    margin: 0;
  }
  
  .bg {
    /* The image used */
    background-image: url("https://d1bpj0tv6vfxyp.cloudfront.net/articles/775363_22-2-2021_13-43-11.jpeg");
  
    /* Full height */
    height: 140%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }